<div class="container p-2" style="border-radius: 20px; background-color: white; box-shadow: 0px 4px 4px rgba(0,0,0,0.2);">
<%= simple_form_for @wear, :html => {class: 'form'} do |f| %>
  <h6><%= f.input :marca %></h6>
  <%= f.input :talla %>
  <%= f.input :color %>
  <%= f.input :descripcion %>
  <%= f.input :valor %>
  <%= f.association :category, collection: @categories.map{ |cat| [cat.nombre, cat.id]} %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Guardar Cambios", class: "btn botones" %>
  <%= link_to  "Volver", wears_path, class: "btn botones" %>
<% end %> 
</div>
 
