<br>
  <div class="container">
    <h3 class="pb-4"><strong>Tienda Virtual</strong></h1>
  </div>
  <div class="container d-flex ">
  <% @wears.each do |w| %>
    <div class="row">
      <div class= "col-3 col-md-3">
        <div class="card-body" style="width: 18rem; p: 20px;">
          <% if w.photo.attached? %>
            <%= link_to cl_image_tag(w.photo.key ), wear_path(w) %>
          <% else %>
            <%= link_to image_tag("PNG.png"), wear_path(w) %>
          <% end %>
            <h5 class="card-title"><%= w.marca %> - <%= w.talla %></h5>
            <p class="card-text"><%= w.descripcion %></p>
            <%= link_to  "Mayor informacion", wear_path(w) %>
            <a id="price" class="btn botones_price"><%="$ #{w.valor}"%></a>
        </div>
      </div>
    </div> 
  <% end %>
  
</div>