<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 text-left">
    <br>
      <h3 class="pb-4"><strong>Formulario de Ingreso</strong></h3>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <%= render "form" %>
    </div>
    <div class = "col-12 col-md-6 col-lg-6">
      <div class="row">
        <div class="col-12 ">
          <div class="card-product mb-2" style="border-radius: 20px; max-whidth: 100%; heigth: auto;">
            <%= image_tag("mujer_new.png", width: 550, heigth: 200) %>
          </div>
          <div class="card-product mb-2" style="border-radius: 20px; max-whidth: 100%; heigth: auto;">
            <%= image_tag("kids_new.png", width: 550, heigth: 200) %>
          </div>
          <div class="card-product mb-2" style="border-radius: 20px; max-whidth: 100%; heigth: auto;">
            <%= image_tag("winter_new.png", width: 550, heigth: 200) %>
          </div>
          <div class="card-product mb-2" style="border-radius: 20px; max-whidth: 100%; heigth: auto;">
            <%= image_tag("party_new.png", width: 550, heigth: 200) %>
          </div>
          <div class="card-product" style="border-radius: 20px; max-whidth: 100%; heigth: auto;">
            <%= image_tag("man_new.png", width: 550, heigth: 200) %>
          </div>
        </div>
      </div>
    </div>
  </div >
</div>
