<div class="container">
  <% @ids = [] %>
  <% @img = [] %>
  <% Category.all.each do |c|%>
    <% @ids<<c.id %>
    <% @img<<c.imagen %>
  <% end %>
  <h3><strong>Categorias</h3>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">   
          <div class="col-12 col-md-12">
            <%= link_to image_tag(@img[0], class: "picture_big img-fluid"), category_path(@ids[0]) %>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md-6 picture_small">
            <%= link_to image_tag(@img[1], class: "picture_big im
            g-fluid"), category_path(@ids[1]) %>
          </div>
          <div class="col-6 col-md-6 picture_small">
            <%= link_to image_tag(@img[2], class: "picture_big img-fluid"), category_path(@ids[2]) %>
          </div>
        </div>      
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-12 picture_big">
            <%= link_to image_tag(@img[3], class: "picture_big img-fluid"), category_path(@ids[3]) %>
        </div>
      </div>
        <div class="row">
          <div class="col-6 col-md-6 picture_small">
            <%= link_to image_tag(@img[4],class: "picture_big img-fluid"), category_path(@ids[4]) %>
          </div>
          <div class="col-6 col-md-6 picture_small">
            <%= link_to image_tag(@img[5], class: "picture_big img-fluid"), category_path(@ids[5]) %> 
          </div>
        </div>      
      </div>
    </div>
</div>
<br/>

