<div class="container">
  <% @ids = [] %>
  <% Category.all.each do |c|%>
    <% @ids<<c.id %>
  <% end %>
  <h3><strong>Categorias</h3>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">   
          <div class="col-12 col-md-12 picture_big">
            <%= link_to image_tag("picturesManbig.png"), category_path(@ids[4]), class:"img-fluid" %>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-md6 picture_small">
            <%= link_to image_tag("picturesSalesmall.png"), category_path(@ids[0]), class:"img-fluid" %>
          </div>
          <div class="col-6 col-md6 picture_small">
            <%= link_to image_tag("picturesPartysmall.png"), category_path(@ids[2]), class:"img-fluid" %>
          </div>
        </div>      
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 col-md-12 picture_big">
            <%= link_to image_tag("picturesWomanbig.png"), category_path(@ids[1]), class:"img-fluid" %>
        </div>
      </div>
        <div class="row">
          <div class="col-6 col-md6 picture_small">
            <%= link_to image_tag("picturesKidssmall.png"), category_path(@ids[5]), class:"img-fluid" %>
          </div>
          <div class="col-6 col-md6 picture_small">
            <%= link_to image_tag("picturesWintersmall.png"), category_path(@ids[3]), class:"img-fluid" %> 
          </div>
        </div>      
      </div>
    </div>
</div>

