<div class="head_menu" >
  <div class = "container">
    <div class="row ">
      <div class = "col-12 col-md-3 col-lg-3 col-xl-3 text-start">
        <%= link_to image_tag("PNG.png"), root_path, class:"img_logo"%>
      </div>
      <div class="col-6 col-md-6 col-lg-5 col-xl-5 text-center">
        <div class ="container-fluid">
          <div class="d-flex">
            <%= simple_form_for :wears_search, method: :get, :html => {class: 'form'} do |f| %>
              <!-- <%= f.input :marca , placeholder: "Buscar" %> -->
              <%= f.input :search , placeholder: "Buscar", label: false %>
              <%= f.submit "Buscar", class: "btn botones" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class = "col-6 col-md-3 col-lg-3 col-xl-3 text-end ">
        <% if user_signed_in? %>
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" /> 
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn botones" %> <br/>
          <% current_user.orders.each do |o| %>
            <%= link_to "Carro", order_path(o.id), class: "btn botones" %>
          <% end %>
        <% else %>
          <%= link_to  "Ingresar", user_session_path, class: "btn botones"%>
        <% end %>
      </div>
    </div>
   <div class= "container ">
      <div class = "col-12 col-md-8">
        <div class= "row">
          <div class= "col-6 col-md-6 col-lg-3 col-xl-3" >
            <%= link_to  "Inicio", root_path, class:"menu"%>  
          </div>
          <div class= "col-6 col-md-6 col-lg-3 col-xl-3 " >
            <%= link_to  "Compra", wears_path, class:"menu"%>  
          </div>
          <div class= "col-6 col-md-6 col-lg-3 col-xl-3 ">
            <%= link_to  "Nosotros", pages_who_path, class:"menu"%>  
          </div>
          <div class= "col-6 col-md-6   col-lg-3 col-xl-2 ">
            <%= link_to  "Contacto", pages_contact_path, class:"menu"%>  
          </div>
          <!--
          <div class= "col-6 col-md-6   col-lg-3 col-xl-2 text-left">
            <%= link_to  "ayuda", pages_help_path,class: "menu" %>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>
</div>