<h1> Registrar Domicilio </h1>
<%= simple_form_for :address, url: order_ path   |f| %>
  <%= f.input :address, label: "Direccion", input_html: {value: ""} %>
  <%= f.input :city, label:"Ciudad", input_html: {value: ""} %>
  <%= f.input :state, label:"Comuna", input_html: {value: ""} %>
  <%= f.input :country, label:"Pais",  input_html: {value: ""} %>
  <%= f.submit "Guardar", class: "btn btn-primary" %>
<% end %>