  <br/>
  <div class="container">
    <div class="row">
      <% OrderItem.all.each do |order|%>
      <br/>
      <div class="col-12 ">
        <div class="card-product_carrito">
          <% if(order.wear.photo.attached?) %>
            <%= cl_image_tag(order.wear.photo.key,class:"carrito_img") %>
          <% else %>

          <% end %>
          <div class="card-product-infos ">
            <div class = row>
              <div class="col-12 col-md-8 ">
                <h4><b><%= order.wear.marca %></b></h4>
                <h5><p><%= order.wear.descripcion %></p></h5>
                <h5><p><%= order.wear.talla %></p></h5>
                <small class="carrito_price"> <%= order.wear.valor %></small>
              </div>
              <div class="col-6 col-md-4 text-end">
                <%= link_to image_tag("trash.png"), order_path(order), method: :delete %>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <% end %>
    </div>
  </div>
