<br/>
 <div class="container">
  <div class= "row">
    <% Order.all.each do |order| %>
      <% order_items = OrderItem.find_by(order: order.id) %> 
        <br/>
          <% if(order_items != nil) %>
            <% OrderItem.all.each do |order_item| %>
              <div class="col-12">
                <div class="card-product_carrito">         
                  <% if(order_item.wear.photo.attached?) %>
                    <%= cl_image_tag(order_item.wear.photo.key,class:"carrito_img") %>
                  <% else %>
                    <%= link_to image_tag("PNG.png", class:"carrito_ing") %>
                  <% end %>
                  <div class="card-product-infos ">
                    <div class = row>
                      <div class="col-6">
                        <h4><b><%= order_item.wear.marca %></b></h4>
                        <h5><p><%= order_item.wear.descripcion %></p></h5>
                        <h5><p><%= order_item.wear.talla %></p></h5>
                        <small class="carrito_price"> <%= order_item.wear.valor %></small>
                      </div>
                      <div class="col-6">
                        <div>
                           <%= link_to image_tag("trash.png"), order_order_item_path(order_item), method: :delete %>
                        </div>
                          <div class= "container-fluid">
                            <div class= d-flex>
                              <div class="minicard">
                                <%= link_to  "+", order_suma_path(order_item, sel:1), class: "boton_carrito" %>
                              </div>
                              <div class= "minicard_cant ">
                                <%= order_items.cantidad %>
                              </div>
                              <div class= "minicard_cant ">
                                <%= link_to  "-", order_suma_path(order_item, sel:2), class: "boton_carrito" %>
                              </div>
                            </div>
                        </div>
                        <div>
                          <h3 class="carrito_price"><%=" $ #{order.monto}"%></h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
      <% end %>
        <div class= "row text_right">
          <% resul = Order.where(id: order).sum(:monto) %>
          <h2 class = "carrito_price"> <%= "Total : $ #{resul} "%>
        </div>
    
    <% end %>
  </div>
 </div>

