<%= render partial: "shared/banner" %>
<div class="container">
  <div class= "row">
    <% Order.all.each do |order| %>
      <% order_items = OrderItem.find_by(order: order.id) %>
        <br/>
          <% if(order_items != nil) %>
            <% OrderItem.order(:price).all.each do |order_item| %>
              <div class="col-12">
                <div class="card-product-carrito">
                  <% if(order_item.wear.photo.attached?) %>
                    <%= cl_image_tag(order_item.wear.photo.key,class:"carrito-img") %>
                  <% else %>
                    <%= image_tag("PNG.png", class: "carrito-img") %>
                  <% end %>
                  <div class="card-product-carrito-infos">
                    <div class="row">
                      <div class="col-10">
                        <h4><b><%= order_item.wear.marca %></b></h4>
                        <h5><p><%= order_item.wear.descripcion %></p></h5>
                        <h5><p><%= order_item.wear.talla %></p></h5>
                        <small class="carrito-price"><%= order_item.wear.valor %></small>
                      </div>
                      <div class="col-2">
                        <div class="w-40">
                          <%= link_to image_tag("trashverde.png", class: "carrito-trash-img"), order_order_item_path(order_item), method: :delete %>
                        </div>
                      </div>
                      <div class= "minicard col-2">
                        <div class= d-flex>
                          <a><%= link_to "+", order_suma_path(order_item, sel:1), class: "col-2 btn botones-carrito" %></a>
                          <a id= "botonorillaverde" ><%= order_item.cantidad %></a>
                          <a><%= link_to "-", order_suma_path(order_item, sel:2), class: "col-2 btn botones-carrito" %></a>
                        </div>
                        </div>
                        <div class="container col-10 aling-right">
                          <h3 class="carrito-price"><%=" $ #{order_item.total_price}"%></h3>
                        </div>
                      </div>  
                    </div>
                  </div>
              </div>
            <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="container pt-4">
    <div class= "row">
      <div class = "col-12 - col-md-12 text-right">
        <h2 class = "carrito-price-total"><%= "Total : $ #{@order_total}" %>  
      </div>  
    </div> 
    <div class= "row">
      <div class = "col-12 - col-md-12 text-right">
        <%= link_to  "Seguir comprando", wears_path, class: "btn botones" %>
        <%= link_to  "Pagar", order_confirm_path(Order), class: "btn botones" %>
      </div>
    </div>
  </div>
</div>
