<div class="container">
  <div class= "row">
    <% Order.all.each do |order| %>
      <% order_items = OrderItem.find_by(order: order.id) %>
        <br/>
          <% if(order_items != nil) %>
            <% OrderItem.order(:price).all.each do |order_item| %>
              <div class="col-12">
                <div class="card-product_carrito">
                  <% if(order_item.wear.photo.attached?) %>
                    <%= cl_image_tag(order_item.wear.photo.key,class:"carrito_img") %>
                  <% else %>
                    <%= image_tag("PNG.png", class: "carrito_img") %>
                  <% end %>
                  <div class="card-product-infos ">
                    <div class = row>
                      <div class="col-6">
                        <h4><b><%= order_item.wear.marca %></b></h4>
                        <h5><p><%= order_item.wear.descripcion %></p></h5>
                        <h5><p><%= order_item.wear.talla %></p></h5>
                        <small class="carrito_price"> <%= order_item.wear.valor %></small>
                      </div>
                      <div class="col-6">
                      <div>
                        <h3 class="carrito_price"><%=" $ #{order_item.total_price}"%></h3>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
      <% end %>
    <% end %>
 </div>
   <div class= "row ">
    <div class = "col-12 - col-md-12 text-right">
      <h2 class = "carrito_price"> <%= "Total : $ #{@order_total} "%>    
    </div>        
  </div> 
 
  <div class= "row ">
    <div class = "col-12 - col-md-12 text-right">
       <%= link_to  "aceptar", wears_path, class: "btn botones" %>
      <%= link_to  "Listo", root_path, class: "btn botones" %>
    </div>
  </div>

 </div>
