<br/>
 <div class="container">
  <div class= "row">
    <% Order.all.each do |order| %>
      <% order_items = OrderItem.find_by(order: order.id) %> 
        <br/>
          <% if(order_items != nil) %>
            <% OrderItem.all.each do |order_item| %>
              <div class="col-12">
                <div class="card-product_carrito">         
                  <% if(order_item.wear.photo.attached?) %>
                    <%= cl_image_tag(order_item.wear.photo.key,class:"carrito_img") %>
                  <% else %>
                    <%= image_tag("PNG.png", class: "carrito_img") %>
                  <% end %>
                  <div class="card-product-infos ">
                    <div class = row>
                      <div class="col-6">
                        <h4><b><%= order_item.wear.marca %></b></h4>
                        <h5><p><%= order_item.wear.descripcion %></p></h5>
                        <h5><p><%= order_item.wear.talla %></p></h5>
                        <small class="carrito_price"> <%= order_item.wear.valor %></small>
                      </div>
                      <div class="col-6">
                        <div>
                           <%= link_to image_tag("trash.png"), order_order_item_path(order_item), method: :delete %>
                        </div>
                        <h3 class="carrito_price"><%=" $ #{order.monto}"%></h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
      <% end %>
  </div>
   <div class= "row ">
    <div class = "col-12 - col-md-12 text-right">
      <% resul = OrderItem.where(order_id: order).sum(:total_price) %>
      <h2 class = "carrito_price"> <%= "Total : $ #{resul} "%>
    </div>
  </div> 
  <% end %>
  <div class= "row ">
    <div class = "col-12 - col-md-12 text-right">
      <%= link_to  "Seguir comprando", wears_path, class: "btn botones" %>
      <%= link_to  "Pagar", pages_confirm_path, class: "btn botones" %>
    </div>
  </div>

 </div>