<br>
<div class="container">
  <h3 class="pb-4"><%= content_tag(:h3, "Categoría: #{@category.nombre},") %></h3>
</div>
<div class="container d-flex">
  <% if @wears.present? %>
  <% @wears.each do |wear| %>
    <div class="row">
      <div class="col-2 col-md-3">
        <div class="card-body">
            <% if wear.photo.attached? %>
              <%= link_to cl_image_tag(wear.photo.key) , wear_path(wear) %> 
            <% else %>
              <%= link_to image_tag("PNG.png") , wear_path(wear) %>
            <% end %>
        </div>
      </div> 
    </div> 
  <% end -%>
  <% end -%>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <%= link_to  "Volver", categories_path, class: "btn btn-sm botones" %>
      <%= link_to  "Editar",  edit_category_path, class: "btn btn-sm botones ml-2" %>
      <%= link_to  "Borrar", category_path, method: "delete", data: {confirm: "¿Estas seguro?"}, class: "btn btn-sm botones ml-2"%>
    </div>
  </div>
</div>
